.ExpenseItem {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: max-content;
  padding: 1rem 2rem;
  border: solid 1px white;
  align-items: center;

  .amount {
    padding-right: 2em;
    text-align: right;
  }
  .toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    button {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 932px) {
    & {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 0.5rem;
      border-width: 2px;
      height: max-content;
      font-size: 2.5em;
      .amount {
        padding: 0;
      }
      .toolbar {
        margin: 1rem 0;
      }
    }
    & + & {
      margin-top: 2em;
    }
  }
}
