.ExpensesList {
    display: flex;
    flex-direction: column;
    gap: 2em;
    .ExpenseItemsWrapper {
        overflow-y: scroll;
        height: 59vh;
    }
    .BtnNew {
        background: green;
        width: 100%;
        color: white;
        font-weight: bold;
        height: 3rem;
    }
}